/* screen - 1920-contact */

.x1920-contact {
  background-color: var(--white);
  height: 1080px;
  width: 1920px;
}

.x1920-contact .group-container {
  background-color: #dbdbdb9a;
  height: 1080px;
  position: relative;
}

.x1920-contact .group-1283 {
  height: 35px;
  left: 1331px;
  position: absolute;
  top: 49px;
  width: 449px;
}

.x1920-contact .component-36-4 {
  height: 30px;
  left: 347px;
  position: absolute;
  top: 0;
  width: 102px;
}

.x1920-contact .overlap-group {
  height: 32px;
  position: relative;
}

.x1920-contact .rectangle-1538 {
  background-color: var(--white);
  cursor: pointer;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.x1920-contact .rectangle-1539 {
  background-color: #a348a14d;
  height: 27px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 99px;
}

.x1920-contact .place {
  left: 14px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.x1920-contact .home {
  cursor: pointer;
  height: 33px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 55px;
}

.x1920-contact .place-1 {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.x1920-contact .place-1:hover {
  color: #A348A0
}

.x1920-contact .work {
  cursor: pointer;
  height: 33px;
  left: 117px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.x1920-contact .work-1 {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.x1920-contact .work-1:hover {
  color: #A348A0
}

.x1920-contact .resume {
  cursor: pointer;
  height: 33px;
  left: 225px;
  position: absolute;
  top: 2px;
  width: 55px;
}

.x1920-contact .about {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.x1920-contact .about:hover {
  color: #A348A0
}

.x1920-contact .overlap-group4 {
  height: 677px;
  left: 332px;
  position: absolute;
  top: 183px;
  width: 1257px;
}

.x1920-contact .group-79 {
  background-color: var(--gray-nurse);
  box-shadow: 10px 10px 20px #00000029;
  height: 640px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 1257px;
}

.x1920-contact .rectangle-135 {
  background-color: var(--gray-nurse);
  box-shadow: -10px -10px 20px #ffffffd6;
  height: 640px;
}

.x1920-contact .contact-me {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 60px;
  font-weight: 300;
  left: 134px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  top: 112px;
  white-space: nowrap;
}

.x1920-contact .span0 {
  color: var(--vivid-violet);
  font-weight: 800;
}

.x1920-contact .span1 {
  color: var(--vivid-violet);
  font-size: 44px;
  font-weight: 800;
}

.x1920-contact .span2 {
  font-size: 44px;
}

.x1920-contact .group-80 {
  height: 239px;
  left: 414px;
  position: absolute;
  top: 79px;
  transform: rotate(15.00deg);
  width: 639px;
}

.x1920-contact .overlap-group3 {
  height: 541px;
  left: -60px;
  position: relative;
  top: -151px;
  width: 723px;
}

.x1920-contact .path-154 {
  height: 388px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 77px;
  transform: rotate(-15.00deg);
  width: 645px;
}

.x1920-contact .overlap-group-container {
  height: 76px;
  left: 636px;
  position: absolute;
  top: 143px;
  width: 73px;
}

.x1920-contact .overlap-group-1 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 72px;
}

.x1920-contact .path-119 {
  height: 52px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  transform: rotate(-15.00deg);
  width: 42px;
}

.x1920-contact .path-120 {
  height: 47px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  transform: rotate(-15.00deg);
  width: 60px;
}

.x1920-contact .path-121 {
  height: 14px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  transform: rotate(-15.00deg);
  width: 8px;
}

.x1920-contact .line-17 {
  height: 14px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  transform: rotate(-15.00deg);
  width: 9px;
}

.x1920-contact .line-18 {
  height: 12px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  transform: rotate(-15.00deg);
  width: 12px;
}

.x1920-contact .overlap-group1 {
  height: 66px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 72px;
}

.x1920-contact .group-1323 {
  height: 316px;
  left: 85px;
  position: absolute;
  top: 238px;
  width: 587px;
}

.x1920-contact .group-48 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 211px;
}

.x1920-contact .icon-awesome-phone-container {
  height: 39px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 38px;
}

.x1920-contact .icon-awesome-phone {
  height: 36px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 36px;
}

.x1920-contact .icon-awesome-phone-1 {
  height: 37px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 37px;
}

.x1920-contact .phone {
  color: var(--blue-charcoal);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.x1920-contact .group-50 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 452px;
}

.x1920-contact .shivangikhandelwal271gmailcom {
  left: 59px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.x1920-contact .overlap-group-container-1 {
  height: 34px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 48px;
}

.x1920-contact .path-container {
  height: 32px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.x1920-contact .path-149 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 46px;
}

.x1920-contact .path-150 {
  height: 20px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 43px;
}

.x1920-contact .path-container-1 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 47px;
}

.x1920-contact .path-149-1 {
  height: 29px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 47px;
}

.x1920-contact .path-150-1 {
  height: 21px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 45px;
}

.x1920-contact .group-1287 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 215px;
  width: 589px;
}

.x1920-contact .icon-awesome-linkedin-in-container {
  height: 33px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 34px;
}

.x1920-contact .icon-awesome-linkedin-in {
  height: 31px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 32px;
}

.x1920-contact .icon-awesome-linkedin-in-1 {
  height: 32px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.x1920-contact .linkedincominshiv {
  cursor: pointer;
  left: 55px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.x1920-contact .group-1285 {
  height: 31px;
  left: 0;
  position: absolute;
  top: 285px;
  width: 521px;
}

.x1920-contact .wwwshivangikhandelwalcom {
  cursor: pointer;
  left: 186px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.x1920-contact .icon-material-web-container {
  height: 29px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 37px;
}

.x1920-contact .icon-material-web {
  height: 28px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 35px;
}

.x1920-contact .icon-material-web-1 {
  height: 29px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 36px;
}

.x1920-contact .portfolio {
  left: 55px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.x1920-contact .group-1321 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 143px;
  width: 254px;
}

.x1920-contact .icon-material-location-on-container {
  height: 37px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 28px;
}

.x1920-contact .icon-material-location-on {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}

.x1920-contact .icon-material-location-on-1 {
  height: 37px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 26px;
}

.x1920-contact .boulder-colorado {
  left: 55px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.x1920-contact .group-1341 {
  cursor: pointer;
  height: 108px;
  left: 140px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 228px;
}

.x1920-contact .group-1341:hover {
  transform: scale(1.1);
}

.x1920-contact .overlap-group-container-2 {
  height: 114px;
  position: relative;
}

.x1920-contact .overlap-group2 {
  height: 109px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 212px;
}

.x1920-contact .group-5 {
  height: 69px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 165px;
}

.x1920-contact .overlap-group1-1 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.x1920-contact .path-119-1 {
  height: 20px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 14px;
}

.x1920-contact .path-120-1 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 23px;
}

.x1920-contact .path-121-1 {
  height: 6px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 2px;
}

.x1920-contact .line-17-1 {
  height: 6px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 3px;
}

.x1920-contact .line-18-1 {
  height: 4px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 4px;
}

.x1920-contact .shivangi-khandelwal {
  left: 20px;
  letter-spacing: 0.16px;
  line-height: 16px;
  position: absolute;
  top: 84px;
  white-space: nowrap;
}

.x1920-contact .path-3798 {
  height: 48px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 197px;
}

.x1920-contact .path-3801 {
  height: 22px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 11px;
}

.x1920-contact .path-3802 {
  height: 12px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 9px;
}

.x1920-contact .path-3937 {
  height: 12px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 26px;
}

.x1920-contact .path-3936 {
  height: 7px;
  left: 150px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 15px;
}

.x1920-contact .path-3938 {
  height: 12px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 12px;
}

.x1920-contact .overlap-group-2 {
  height: 21px;
  left: 204px;
  position: absolute;
  top: 0;
  width: 23px;
}

.x1920-contact .path-119-2 {
  height: 20px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 14px;
}

.x1920-contact .path-121-2 {
  height: 6px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 2px;
}

.x1920-contact .line-17-2 {
  height: 6px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 3px;
}

.x1920-contact .line-18-2 {
  height: 4px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 4px;
}
